# Ignore configuration files that may contain sensitive information.
*settings*.php*

# Ignore paths that contain generated content.


# Ignore default text files
README.txt
modules/README.txt
themes/README.txt

# Ignore everything but the "sites" folder ( for non core developer )
